[submodule "packages/stream-deck-plugin/com.zakini.card-dealer.sdPlugin/libs"]
	path = packages/stream-deck-plugin/com.zakini.card-dealer.sdPlugin/libs
	url = https://github.com/elgatosf/streamdeck-javascript-sdk
